
/*  COLORS
CAMBRIDGE BLUE - #84B082
LEAF GREEN     - #82CC55
VAN DYKE       - #3F2A2B
TERA POT       - #9D5220 */
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

html, body {
font-family: "prata" ;
height: 100%;
}

.account {
    list-style-type: none;
}

/* INDEX */
.hero-bg {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://d2r55xnwy6nx47.cloudfront.net/uploads/2020/07/Photosynthesis_2880_Lede.jpg") !important;
height: 75vh !important;
background-position: center !important;
}

.index-title {
color: #f5dfb5;
text-align: center;
font-size: 7vw;
}

.hero-card {
border-radius: 10px;
box-shadow: 0px 15px 25px rgba(105, 158, 101, 0.5);
background-color: rgba(154, 187, 141, 0.5);
backdrop-filter: blur(5px);
padding: 2rem;
}

.index-card1 {
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
background-color: rgba(154, 187, 141, 0.5);
backdrop-filter: blur(2px);
padding: 2rem;
}

.index-card2 {
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
background-color: rgba(154, 187, 141, 0.5);
backdrop-filter: blur(2px);
padding: 2rem;
}

.hero-text1 {
color: #f5dfb5;

}

.text-2 {
color:#3F2A2B;
margin-top: auto;
}

.hero-btn {
box-shadow: 0px 15px 25px rgba(38, 43, 38, 0.5);
border: #f5dfb5 solid 1.2px;
text-decoration: none;
}

.index-login {
background-color:#f3e5cc;
border-radius: 0;
outline: #f3e5cc;
}

.index-login-title {
text-align: center;
margin-top: 1.5rem
}

.login-outline {
margin: 1rem;
}

.review {
    border:#84B082 double 10px;
    border-radius: 20%;
}

.php {
    border: #3F2A2B solid 2px;
}

.php2 {
    object-fit:fill;
}
/* NAVBAR */
.nav-title {
    font-weight: bold;
    font-size: xx-large;
    color: #f5dfb5;
}
.navbar-custom {
background-color: #84B082 !important;
}

.active-nav-custom {
font-weight: bolder;
color:#3F2A2B;
text-decoration: underline !important;
text-underline-offset: 1rem !important;
text-decoration-color: #3F2A2B !important;
}

/* CUSTOM BUTTONS & links */
.shop-now {
background-color: #84B082;
color:#3F2A2B; 
text-decoration: none;
font-weight: bold;
align-content: center;
position: relative;
}
.button-custom, .button-custom:hover {
background-color: #84B082 !important;
color:#3F2A2B !important; 
}

.button-custom:hover {
text-decoration: underline;
text-underline-offset: 0.5rem;
text-decoration-color: #3F2A2B;
}

.gradient-custom {
background: linear-gradient(#3F2A2B, #84B082);
}

.link-button {
text-decoration: underline !important;
color: #9d5220 !important;
}

.button-customb {
    background-color: #3F2A2B;
    color: #f0f0f0;
}

/* REGISTRATION */
.text-3 {
color:#f5dfb5;
}

/* PRODUCTS */
.img-custom {
width: 100%;
height: 30vw;
object-fit: cover;
}

.card-title {
font-weight: bold;
color: #3F2A2B;
}

/* CHECKOUT */
.custom-store-name {
    color: #3F2A2B;
    font-weight: bolder;
}

.navbar-custom2 {
    background-color: #f5dfb5;
    color: #3F2A2B;
}

.button-custom2 {
    background-color: #f5dfb5  !important;
    color: #3F2A2B!important;
}

.button-custom2:hover {
    background-color: #3F2A2B;
    color: #f0f0f0;
    text-decoration: underline;
    text-decoration-color: #f0f0f0;
    text-underline-offset: 0.5rem;
}

/* FOOTER */
.copyright {
    text-align: center;
}

.navbar-custom3 {
    background-color: #3F2A2B;
    color: #f0f0f0;
}