
/*  COLORS
CAMBRIDGE BLUE - #84B082
LEAF GREEN     - #82CC55
VAN DYKE       - #3F2A2B
TERA POT       - #9D5220 */

/* NAVBAR */
.navbar-custom {
background-color: #84B082 !important;
}

.active-nav-custom {
font-weight: bolder;
color:#3F2A2B;
text-decoration: underline !important;
text-underline-offset: 1rem !important;
text-decoration-color: #3F2A2B !important;
}

/* CUSTOM BUTTONS & links */
.button-custom, .button-custom:hover {
background-color: #84B082;
color: #fff !important;
}

.button-custom:hover {
text-decoration: underline;
text-decoration-color: #fff;
}
.gradient-custom {
background: linear-gradient(#3F2A2B, #84B082);
}

.link-button {
text-decoration: underline !important;
color: #9d5220 !important;
}
